@font-face {
    font-family: "Binance PLEX";
    src: url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.eot");
    src: url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.svg#Binance PLEX")format("svg");
}

:root{
    --textcolor: #eaecef;
    --backgroundcolor : #181A20;
    --themeColorYellow: #f0b90b;
    --themeBackgroundColor: #1E2329;
    --sellColor: #E35561;
    --buyColor: #5EBA89;
    --borderColor: #555B66;
    --UnfocusedColor: #848e9c;
}



h1{
    font-weight: 600;
}
p{
    font-weight: 400;
}
*{
    box-sizing: border-box;
    font-family: "Binance PLEX";;
    color: var(--textcolor);
    user-select: none;
}
body{
    margin: 0;
    background-color: var(--backgroundcolor);
}


/* NAVBAR */

#navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 64px;
    padding: 0 24px 0 24px;
    z-index: 1;
    background-color: var(--backgroundcolor);
}
.header-logo{
    position: relative;
    height: 27px;
    color: var(--themeColorYellow);
    top: 50%;
    transform: translateY(-50%);
}
#navbar a{
    margin: 0;
    text-decoration: none;
    text-align: center;
}
#navbar p{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
#leftSideNavbar{
    display: flex;
}
#links{
    display: flex;
}
#links *{
    margin: 0;
}
#links a{
    margin-left: 1.5vw;
}
#searchIcon{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
}
#rightSideNavbar{
    display: flex;
}
#rightSideNavbar a{
    margin-left: 0.9vw;
}
#navbar a:hover p{
    color: var(--themeColorYellow);
}


/* GRIDS */

#buySell{
    grid-area: buySell;
    position: relative;
}
#listGrid{
    background-color: var(--themeBackgroundColor);
    grid-area: list;
    overflow-y: scroll;
    border-radius: 20px;
}
#list2{
    background-color: var(--themeBackgroundColor);
    grid-area: list2;
}

.wrapper{
    position: relative;
    top: 7vh;
    display: grid;
    width: 50vw;
    height: 110vh;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "buySell list"
    "buySell list"
    "list2 list2";
    gap: 4vw;
}



/* BUYSELL WRAPPER */
.coinWrapper{
    width: 100%;
    height: 100%;
    background-color: var(--themeBackgroundColor);
    padding: 1em;
    text-align: center;
    border-radius: 20px;
}
.coinWrapper>div{
    margin-bottom: 2vw;
}
.coinWrapper>div *{
    font-size: 1.4em;
}
.buySellWrapper{
    display: flex;
    background-color: var(--sellColor);
    border-radius: 20px;
}
.buyButton{
    width: 50%;
    cursor: pointer;
    background-color: var(--buyColor);
    border-radius: 3px;
    border-radius:  20px;
    transition: all 100ms ease-in-out;
}
.sellButton{
    width: 50%;
    cursor: pointer;
    background-color: var(--sellColor);
    border-radius:  20px;  
    transition: all 100ms ease-in-out;
}
div>select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 3vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: var(--borderColor);
    border: 3px solid var(--borderColor);
    text-align: center;
}

div>select:hover,
div>select:focus {
    background-color: var(--UnfocusedColor);
}
.inputWrapper input {
    width: 100%;
    height: 100%;
    border: 0px solid var(--textcolor);
    border-radius: 0px; 
    background-color: var(--borderColor);

}
.inputWrapper{
    display: flex;
}
.inputWrapper div:first-of-type{
    width: 70%;
}
.inputWrapper div:nth-of-type(2){
    width: 30%;
    border-left: 3px solid var(--textcolor);
}
.limitPrice {
    display: none;
}
.orderInfo p {
    margin: 0.2em;
}
.orderInfo>div{
    display: flex;
}
.orderInfo>div p{
    text-align: right;
    font-size: 1em;
}
.orderInfo>div p:nth-of-type(1){
    width: 100%;
    padding-right: 0.5em;
}
.placeOrder{
    position: absolute;
    top: 97%;
    left: 50%;
    width: 21.5vw;
    transform: translate(-50%,-100%);
    background-color: #5EBA89;
    cursor: pointer;
    height: 4vw;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
}
.placeOrder>h1{
    position: relative;
    margin: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}


/* LIST 1 */

#listGrid{
    font-size: 16px;
}
.listItem{
    height: 2.9em;
    overflow: hidden;
    margin-bottom: 0.3em;
}
.listItem p{
    margin-top: 0.5em;
    margin-bottom: 0;
}
.title{
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}
#sort{
    border-bottom: 1px solid #555B66;
}
#sort>div{
    cursor: pointer;
}

input{
    text-align: center;
}
.category{
    height: 1em;
    margin-top: 0 !important;
    text-align: center;
    margin-bottom: 0.5em !important;
}

.false{
    color: #E35561;
}
.true{
    color: #5EBA89;
}

.overflowList{
    padding-left: 1em;
}
.overflowList:last-of-type{
    padding-bottom: 0.5em;
}
.refund p{
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    border: 2px solid #555B66;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-bottom: 0.5em;
    
}
.refund{
    border-bottom: 1px solid #555B66;
}

/* LIST 1 */

#sort{
    display: flex;
    font-size: 0.5em;
    justify-content: space-evenly;
}


/* LIST 2 */
#list2{
    padding: 0 3em 0 3em;
    border-radius: 20px;
    height: fit-content;
}
#list2>div {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 2em 0;
}

#list2>div * {
    margin: 0;
}
#list2>div div{
    display: flex;
}

#list2 img{
    width: 40px;
    height: 40px;
}

.coinNameContainer{
    width: 60%;
}
.coinNameContainer h1{
    padding-left: 0.5em;
}
#list2 h2{
    width: 20%;
    text-align: right;
}
#list2>div h2:nth-of-type(2){
    color: #5EBA89;
}
.coinName{
    color: #848e9c;
    font-weight: 400;
}

/* FOOTER */
#footer{
    position: relative;
    display: flex;
    top: 80px;
    margin-top: 30vh;
    height: fit-content;
    background-color: #1e2329;
    justify-content: center;
}
#footer *{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0.5em 0 0 0;
}
#footer>div{
    padding: 4vw;
}
