*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

body{
    margin: 0;
    overflow: hidden;
    background-color: #1f1f1f;
}
p{
    margin: 0;
}
::-webkit-scrollbar-thumb {
    background-color: #0078D4 !important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0068c4 !important;
}
::-webkit-scrollbar{
    width: 10px;
}


@media (orientation: landscape) {
    #navbar{
        width: 100vw;
        height: 40px;
        background-color: #181818;
        border-bottom: 2px solid #2b2b2b;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    #footer{
        display: flex;
    }
    #body{    
        height: 100vh;
        width: 100vw;
    }
    #navbarMobile{
        display: none;
    }
    #pages{
        width: 82vw;
    }
    #functions{
        display: flex;
    }
}
@media (orientation: portrait) {
    #navbar{
        display: none;
    }
    #footer{
        display: none;
    }
    #functions{
        display: none;
    }
    #body{    
        height: 100vh;
        transform: translateX(-175px);
        width: fit-content;
        transition: transform 500ms;
    }
    #pages{
        width: 100vw !important;
    }
    #navbarMobile{
        display: flex;
    }
}

#navbarMobile{
    height: 50px;
    width: 100vw;
    background-color: #181818;
    border-bottom: 1px solid #363636;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
#navbarMobile img{
    position: relative;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}
#navbarMobile h1{
    margin: 0 20px 0 0;
    position: relative;
    top: 50%;
    height: fit-content;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 1em;
    padding: 5px 20px 5px 20px;
    border: 1px solid #363636;
    border-radius: 5px;
    background-color: #222;
}
#navbarMobile>div {
    display: flex;
}
#navbarMobile>div img {
    margin-right: 20px;
}

#logo{
    height: 20px;
    aspect-ratio: 1/1;
    margin: 5px 10px 5px 10px;
}
#links{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    display: flex;
    color: #fff;
    font-size: 16px;
}
#links a{
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
#links a:hover{
    border-radius: 5px;
    background-color: #2b2b2b;
}

#middleNavbar{
    width: 40%;
    display: flex;
}
#middleNavbar img{
    opacity: 0.8;
    height: 16px;
    margin-right: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#middleNavbar img:hover{
    opacity: 1;
    cursor: pointer;
}

#search{
    background-color: #242424;
    border: 1px solid #363636;
    width: 70%;
    height: 65%;
    border-radius: 7px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
}
#search h1{
    width: 100%;
    text-align: center;
    margin: 0;
    color: #ccc;
    font-size: 17px;
}

#rightNavbar{
    display: flex;
}
#rightNavbar>div{
    display: flex;
}
#rightNavbar img{
    height: 20px;
    width: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#rightNavbar>div:nth-child(1) img{
    opacity: 0.8;
    margin-right: 13px;
}

#rightNavbar>div:nth-child(1) img:hover{
    opacity: 1;
    cursor: pointer;
}
#rightNavbar>div:nth-child(2) img:nth-child(3){
    
    transform: translateY(-100%);
    margin-right: 18px;
    margin-left: 18px;
    width: 12px;
    height: 12px;
}
#rightNavbar>div:nth-child(2) img:nth-child(2){
    
    transform: translateY(-100%);
    margin-right: 14px;
    margin-left: 14px;
    width: 12px;
    height: 12px;
}
#rightNavbar>div:nth-child(2) img:nth-child(1){
    
    transform: translateY(-100%);
    margin-right: 14px;
    margin-left: 14px;
    width: 12px;
    height: 12px;
}

#close:hover{
    cursor: pointer;
    background-color: red;
}
#minimize:hover, #maximize:hover{
    cursor: pointer;
    background-color: #242424;
}

/* BODY */

#body{
    display: flex;
    background-color: #222;
    border-bottom: 2px solid #2b2b2b;
}
#functions{
    flex-direction: column;
    width: 60px;
    min-width: 60px;
    background-color: #181818;
    border-right: 2px solid #2b2b2b;
    align-items: center;
}
#functions img{
    width: 35px;
    margin-top: 15px;
    cursor: pointer;
}


/* SOURCES */


#sources{
    width: 15vw;
    min-width: 175px;
    background-color: #181818;
    border-right: 2px solid #2b2b2b;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#sources h4 img{
    margin: 0;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
#sourcesTitle{
    font-weight: 500;
    color: #ccc;
    font-size: 0.9em;
    margin: 10px 0 10px 30px;
}

#sources h4{
    color: #ccc;
    margin: 0;
}
#sources div{
    width: 100%;
}
.folderName{
    display: flex;
}
#sources img{
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-top: 6px;
}
#sources h4{
    font-weight: 900;
    margin-left: 5px;
    font-size: small;

}
.subFolder{
    display: flex;
}
.subFolder img{
    margin-left: 30px !important;
}
.folderFile h4{
    margin-left: 30px !important;
    border-left: 1px solid #666;
    padding-left: 5px
}
.folder>div>h4{
    padding-top: 5px;
    padding-bottom: 5px;
}
.folder>div:hover{
    cursor: pointer;
    background-color: #333;
}



/* PAGES */

#pages{
    position: relative;
    background-color: #1f1f1f;
    overflow-y: scroll;
}






/* FOOTER */

#footer{
    height: 40px;
    background-color: #181818;
    color: #fff;
}
#remoteWindowButton{
    height: 100%;
    width: 2.5vw;
    background-color: #0078D4;
}
#remoteWindowButton img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#footerInfo {
    display: flex;
    height: fit-content;
    position: relative;
    width: 97.5vw;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
}
#footerInfo p{
    
    user-select: text;
    font-size: 18px;
    margin: 0 30px 0 30px;
}
#contact{
    display: flex;
}
#footerInfo img{
    height: 22px;
    aspect-ratio: 1/1;
    margin-right: 7px;
}
#footerInfo div{
    display: flex;
}




.hidePage{
    transform: translate(-5000vw, -50000vh);
    opacity: 0 !important;
}
.showPage{
    transform: translate(-50%,0);
    opacity: 1 !important;
}