*{
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}
h1{
    width: 100%;
    margin: 1.7vw 0 1.7vw 0;
    text-align: center;
}
img{
    position: relative;
    aspect-ratio: 1/1;
    width: 4.3vw;
    transform: translateX(-50%);
    left: 50%;
}
body{
    margin: 0;
    background-image: url("../bilder/backgroundBlackjack.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.wrapper{
    top: 0vw;
    display: flex;
    position: relative;
    width: 70vw;
    left: 0vw;
}

/* CARDS */


.container{
    position: relative;
    width: 50vw;
    height: 56vw;
    color: #ddd
}
.cards>div{
    aspect-ratio: 2.5/3.5;
    width: 9vw;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0 1vw 0 1vw;
}
.cards{
    color: #231f20;
    font-size: 1.3vw;
    
    display: flex;
    position: relative;
    justify-content: center;
}

#dealerCardsWrapper{
    position: relative;
    top: 4vw;
}
#myCardsWrapper{
    position: relative;
    top: 15.12vw;
}
#fakeCard{
    font-size: 0;background: 
    repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
      );
}
.cards>div h1:first-child{
    font-size: 0;
    margin: 0;
}
#mycardssum{
    width: 100%;
    text-align: center;
}

/* OPTIONS */

.options{
    position: relative;
    display: flex;
    top: 10vw;
    width: fit-content;
    background-color: #fff;
    height: 30.55vw;
    max-height: 30.55vw;
}
.options input{
    font-size: 1.3vw;
}
#betContainer{
    background-color: #008538;
}
#betContainer h3{
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}
#betContainer input{
    width: 12vw;
}
.buttons>div{
    height: 6.718vw;
    background-color: #008538;
    cursor: pointer;
}
.buttons h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
#transactions{
    background-color: #8d2329;
    width: 7vw;
    max-height: 30.55vw;
    overflow-y: scroll;
}
#transactions h3{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #ad3339;
    margin: 0;
    padding: 0.9vw 0 0.9vw 0;
}
#transactions p{
    padding: 0.4vw 0 0 0.8vw;
    margin: 0;
}
.buttons>div:hover{
    opacity: 0.9;
}


/* RULES */

#rulesE{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #eee;
    z-index: 2;
    border-radius: 20px;
    border: 2px solid black;
}
#rulesE h1{
    position: relative;
    top: -1vw;
}
#rulesE p{
    padding-left: 1.5em;
}
#closeRules{
    border: 1px solid black;
    border-radius: 12.5%;
    width: 3vw;
    height: 3vw;
    text-align: center;
    cursor: pointer;
}
#closeRules h1{
    position: relative;
    width: 3vw;
    height: 3vw;
    margin: 0;
    top: 50%;
    transform: translateY(-30%);
}


#win{
    position: absolute;
    top: 25.6vw;
    width: 50vw !important;
    transform: translate(0, -50%);
    text-align: center;
    z-index: 1;
    color: #38b000;
    text-shadow: 5px 5px 5px #231f20;
    font-size: 4.4vw;
    width: fit-content;
}
#back{
    position: absolute;
    top: 1.5vw;
    left: 2vw;
    width: 5vw;
    height: 1em;
    text-align: center;
    font-size: 2em;
    color: #eee;
    text-decoration: none;
    z-index: 1;
    border-radius: 30px;
}