:root{
    --backgroundcolor: #fff;
    --textcolor: #12130f;
    --infobackgroundcolor: #222;
    --gridItemBackgroundcolor: #fff;
}

body{
    margin: 0;
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    font-size: 0.97vw;
    height: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
*{
    margin: 0;
}

p{
    line-height: 1.5;
    padding: 1em;
}
h1, h2, h3, h4{
    text-align: center;
}
.quote{
    border-left: 2px solid --darkblue;
    margin-left: 3em;
}
ul{
    margin: 1vh 2em;
}

/* HEADER AND FOOTER */
.header{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8vh;
    z-index: 1;
    background-color: var(--infobackgroundcolor);
    color: var(--textcolor);
    font-family: 'Dela Gothic One', cursive;
}
.header img{
    height: 5vh;
}
.header .content{
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #d8d8d8;
    width: 90%;
    justify-content: space-between;
}
.header h1{
    text-align: left;
    padding-left: 1em;
}
#hleft{
    display: flex;
    width: 30%;
}
#hright{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    width: 30%;
    justify-content: end;
    font-size: 1.4em;
}
#hright a{
    position: relative;
    top: 50%;
    padding-left: 2em;
    transform: translateY(-50%);
    height: fit-content;
    color: #d8d8d8;
    text-decoration: none;
}




.footer{
    position: relative;
    bottom: 0;
    background-color: var(--infobackgroundcolor);
    color: var(--textcolor);
    color: #d8d8d8;
    height: 15vw;
    padding: 0 10vw;
}
.footer .content h1{
    text-align: center;
    padding: 3vh 0 1vh;
}
.linksFooter{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.footer li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer ul{
    margin: 0;
}

/* GRIDS */

@media(orientation:landscape){
.gridContainer{
    margin: 10vh auto;
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10.5vw 27vw 15.5vw 25vw;

/* grid-template-rows: 18vh 50vh 27vh 26vh; */
    grid-template-areas: 
        "i1 i1 i2"
        "i3 i4 i4"
        "i6 i6 i5"
        "i7 i7 i7"
    ;
    gap: 2em;

    #i1 { grid-area: i1; border-right: 2px solid #d8d8d8;}
    #i2 { grid-area: i2;}
    #i3 { grid-area: i3;}
    #i4 { grid-area: i4;}
    #i5 { grid-area: i5; border-left: 2px solid #d8d8d8;}
    #i6 { grid-area: i6;}
    #i7 { grid-area: i7;}

}
}

@media(orientation:portrait){
    body{
        font-size: 3.7vw;
    }
    .gridContainer{
        margin: 5vh auto;
        display: grid;
        width: 100vw;
        height: 260vw;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 41vw 60vw 43vw 76vw;
        grid-template-areas: 
            "i1 i1"
            "i3 i5"
            "i6 i6"
            "i7 i7"
        ;
    }
    #i2{ display: none;}
    table{
        font-size: 2vw;
        width: 95vw !important;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .footer{
        height: 50vw;
    }
    .footer .content h1{
        margin: 0;
    }
    p{
        padding: 0.3em 1em;
    }
}

.gridItem{
    background-color: var(--gridItemBackgroundcolor);
}

#i1 { grid-area: i1;}
#i2 { grid-area: i2;}
#i3 { grid-area: i3;}
#i4 { grid-area: i4;}
#i5 { grid-area: i5;}
#i6 { grid-area: i6;}
#i7 { grid-area: i7;}

/* INDIVIDUAL GRID ITEMS */

.logoContainer img{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    width: 50%;
    aspect-ratio: 1/1;
}

.graphContainer>img{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.graph{
    width: 100%;
}

.rsi{
    position: relative;
    top: 0;
    width: 100%;
}

#i6 table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
    border: 1px solid #d8d8d8;
}
tr{
    width: 100%;
    max-width: 100%;
}
tbody tr:hover{
    background-color: #f7931a66 !important;
}
tbody tr:nth-child(2n-1){
    background-color: #eee;
}
thead tr{
    background-color: #ddd;
}
.negative td:nth-child(2){
    color: red;
}
.positive td:nth-child(2){
    color: #007c32;
}
.positive td:last-child{
    font-weight: bold;
    color: #007c32;
}
.negative td:last-child{
    font-weight: bold;
    color: red;
}